.cases {
    h5 {
      font-size: 150px;
    }
    .h-max {
      height: max-content;
    }
    .saturate-0 {
      filter: saturate(0);
    }
    .transition-all {
      transition: all 150ms ease-in-out;
    }

    .bg-black {
      background: black;
    }

    .anim-slide {
      animation: clipPath 250ms ease-in-out forwards;
      &.anim-slide-down {
        animation: clipPathDown 250ms ease-in-out forwards;
      }
      &.anim-slide-reverse {
        animation-direction: reverse;
      }
    }

    @keyframes clipPathDown {
      0% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        opacity: 0;
      }
      100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        opacity: 1;
      }
    }

    @keyframes clipPath {
      0% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        opacity: 0;
      }
      100% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
        opacity: 1;
      }
    }
}